Since `predict_embedding` doesn't work the way I'd wish (I probably need LabelEncoder or something), I've tried to re-do the entire section based on this notebook: https://www.kaggle.com/code/aerdem4/h-m-pure-pytorch-baseline

In [3]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

In [4]:
# Load data
df = pd.read_csv("dataset/transactions_train.csv", dtype={"article_id": str})

In [5]:
art_ids = np.concatenate([["placeholder"], np.unique(df["article_id"].values)])
# TODO I don't why we concat placeholder - can we remove it as well?
art_ids = np.unique(df["article_id"].values)
art_ids

array(['0108775015', '0108775044', '0108775051', ..., '0953450001',
       '0953763001', '0956217002'], dtype=object)

In [12]:
art_LE = LabelEncoder()
art_LE.fit(art_ids)
df["article_id_LE"] = art_LE.transform(df["article_id"])

In [ ]:
%reload_ext jupyter_black

In [18]:
train_df = df.groupby("customer_id").agg({"article_id_LE": list}).sample(10)
train_df

                                                                                        article_id_LE
customer_id
c09c1615d29fc0491fefb99267b14ef433a4246dcbf40c1...                [56188, 46692, 40080, 86051, 86061]
cb63bad5e05b89148f74ab90e035772a3608936d453353f...  [11546, 12579, 35020, 7987, 38403, 55188, 6497...
9626c2966f843819f358e8d9e6b9c19851b486a68726bce...  [43091, 28279, 39494, 59362, 50106, 43090, 946...
36b571eede1bdbc03b20d9737b444d5ccb9f59fee6b99b4...  [2999, 37344, 32332, 11411, 37344, 48653, 4865...
88d71e3fecea2b9398c222ca01c72f51341a64b6f4a6b29...  [57782, 55527, 56630, 3108, 38578, 39952, 7175...
f87f68fcd418fdac0251b9fb602486dda4ea427c2ecfc7e...  [22590, 14228, 41506, 13312, 6700, 62606, 2827...
62661e27fa25112bf5fcd4aac98c21c3551781481d1352e...             [1711, 1711, 1711, 1711, 78820, 97308]
dbaaed7efc0261ec5cd8367c220144ac2dab5add7699db6...                              [15987, 15972, 11006]
cbbb36621043e6f8a1a7d548746375ebbca288bb2559b21...  [43887, 9925, 49821, 17373, 77544, 80050, 7632...
84cb71e5ec97017a7de48c730763790576796eeef4b4981...  [8635, 8952, 39339, 32764, 24233, 39845, 11339...

In [69]:
train_df["article_id_LE"].apply(lambda r: len(r)).sample(3,replace=True).values

array([16, 27,  5], dtype=int64)

In [73]:
import numpy as np
for c in train_df.values:
    print(*c)

[56188, 46692, 40080, 86051, 86061]
[11546, 12579, 35020, 7987, 38403, 55188, 64979, 17125, 32707, 45401, 32707, 32707, 31621, 47683, 32707, 32707, 45562, 45562, 40299, 89198, 89198, 22626, 22626, 69652, 70812, 85237, 85700]
[43091, 28279, 39494, 59362, 50106, 43090, 9469, 10818, 9488, 9469, 10818, 9489, 53835, 57869, 44457, 44444, 67872, 3307, 52688, 14710, 69529, 68304, 69528, 67838, 14689, 52686, 57934, 14709, 62530, 71586, 70875, 71585, 52687, 2950, 42144, 57933, 22278, 64612, 51035, 59472, 64611, 43886, 68345, 68344, 49954, 64185, 35525, 85170, 91844, 80790, 80791, 83205, 77769, 78355, 89017, 95607, 86685, 92237, 77767, 77768, 87101, 91608]
[2999, 37344, 32332, 11411, 37344, 48653, 48653, 47539, 47539, 44020, 70123, 46305, 67063, 75393, 75393, 56653, 45616, 71617, 21345, 72252, 72256, 66412, 62443, 74374, 62440, 62443, 60459, 70133, 70133, 86856, 86856, 26937, 26937, 26937, 26937, 52707, 71502, 91787, 91689, 94164, 72850, 88004, 100429, 99356, 100557, 95898]
[57782, 55527, 56630, 3108, 38578, 39952, 71750, 74319, 83614, 70092, 17102, 70680, 55951, 75454, 73580, 74843, 79663, 48179, 56769, 68383, 79290, 71599, 52208, 80878, 87659, 100057, 59316, 12742, 53789, 53788, 84689, 84779, 103062, 100636, 81987, 73875, 81988, 38178, 99883, 102372, 94847, 103879, 60051, 94876, 88075]
[22590, 14228, 41506, 13312, 6700, 62606, 28278, 64169, 54861, 55663, 46439, 59590, 33071, 9089, 78700, 17565, 2909, 64582, 2910]
[1711, 1711, 1711, 1711, 78820, 97308]
[15987, 15972, 11006]
[43887, 9925, 49821, 17373, 77544, 80050, 76320, 86669, 70999, 66966, 66965, 57336, 66965, 22676, 84644, 18582]
[8635, 8952, 39339, 32764, 24233, 39845, 11339, 44137, 35893, 21582, 59541, 340, 31578, 27780, 18320, 58611, 5575, 6631, 30622, 2787, 5959, 73407, 73407, 18232, 3756, 50776, 61561, 61561, 3376, 69342, 10374, 69598, 71142, 71148, 56864, 39196, 48745, 78807, 81084, 58427, 95559, 70126, 74, 74, 75859, 55530, 57005, 98558, 92235, 92235, 101591]

In [11]:
## Create dataset


def create_dataset(df, total_cases: int, portion_positive: float = 0.1):
    n_cases_train = round(total_cases * portion_positive)
    n_cases_val = total_cases - n_cases_train

    train_df = df.groupby("customer_id").agg({"article_id_LE": list}).sample(n_cases_train)

    # Generate false, new code?
    number_articles_per_customer = train_df["article_id_LE"].apply(lambda r: len(r)).sample(n_cases_val,replace=True)
    for row in zip(train_df.values:
        TOTAL_NUM_ARTICLES = 104546
        articles_LEs = set(range(TOTAL_NUM_ARTICLES))-set(row[1])
            

    """
    find min and max number of elements in article_id_LE lists
    For each customer_id in train_df,
        number_items = np.random.randint(min, max)
        legit_negative = False
        while not legit_negative:
            sample nmumber_items number of random article_id_LE numbers
            legit_negative = none of sampled items are in train_df[customer]
    """

    # Generate false samples
    df_np = df.to_numpy()
    val_np = np.empty((n_cases_val, df_np.shape[1]), dtype=object)
    for i in range(n_cases_val):
        legit_negative = False
        # Assure sample is not actually real by checking ID tuples to true df
        while not legit_negative:
            sample = np.array(
                [np.random.choice(df_np[:, col]) for col in range(df_np.shape[1])]
            )
            legit_negative = (
                np.where((df_np[:, 1] == sample[1]) & (df_np[:, 2] == sample[2]))[
                    0
                ].shape[0]
                == 0
            )
        val_np[i, :] = sample

    return train_df, pd.DataFrame(data=val_np, columns=df.columns)


train_df, val_df = create_dataset(df, total_cases=10)

In [15]:
import torch

# torch.zeros(2).float()*
# len(art_ids)*
df.groupby("customer_id").agg({"article_id": list}).reset_index()

,customer_id,article_id
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,"[0625548001, 0176209023, 0627759010, 069713800..."
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,"[0583558001, 0639677008, 0640244003, 052126900..."
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,"[0663713001, 0541518023, 0663713001, 057802000..."
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,"[0742079001, 0732413001]"
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,"[0634249005, 0677049001, 0698286003, 070770400..."
...,...,...
1362276,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,"[0698276003, 0699075005, 0694182002, 072243600..."
1362277,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,"[0671695001, 0562245015, 0562245018, 056224500..."
1362278,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,"[0568597019, 0484398001, 0484398001, 070108300..."
1362279,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,"[0821395003, 0806241002, 0714790020, 086675500..."
1362280,ffffd9ac14e89946416d80e791d064701994755c3ab686...,[0806050001]

In [13]:
from torch.utils.data import Dataset, DataLoader
import torch
from tqdm import tqdm

class HMDataset(Dataset):
    def __init__(self, df, seq_len, is_test=False):
        self.df = df#.reset_index(drop=True)
        self.seq_len = seq_len
        self.is_test = is_test
    
    def __len__(self):
        return self.df.shape[0]
    
    def __getitem__(self, index):
        row = self.df.iloc[index]
        
        if self.is_test:
            target = torch.zeros(2).float()
        else:
            target = torch.zeros(len(art_ids)).float() # TODO pass art_ids as parameter?
            for t in row.target:
                target[t] = 1.0
            
        article_hist = torch.zeros(self.seq_len).long()
        week_hist = torch.ones(self.seq_len).float()
        
        
        if isinstance(row.article_id, list):
            if len(row.article_id) >= self.seq_len:
                article_hist = torch.LongTensor(row.article_id[-self.seq_len:])
                week_hist = (torch.LongTensor(row.week_history[-self.seq_len:]) - row.week)/WEEK_HIST_MAX/2
            else:
                article_hist[-len(row.article_id):] = torch.LongTensor(row.article_id)
                week_hist[-len(row.article_id):] = (torch.LongTensor(row.week_history) - row.week)/WEEK_HIST_MAX/2
                
        return article_hist, week_hist, target
    
HMDataset(val_df, 64)[1]

AttributeError: 'Series' object has no attribute 'target'